.perfil-header{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    text-align: center;
    color: whitesmoke;
    background-color: #FF1744;
}

.perfil-container{
    width: fit-content;
    height: auto;
    display: flex;
    font-weight: bolder;
    line-height: 0;
}

.perfil-infos{
    width: 100%;
    height: auto;
    margin-top: 8em;
    background-color: #F4F6FE;
    border-radius: 3.5rem;
    text-align: center;
    color: #000444;
    font-weight: bolder;
}
.perfil-infos>p{
    font-size: 1.5em;
}



