body {
  margin: 2rem;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: #2D2B2E;
}

button{
  width: 15rem;
  background-color: #FF1744;
  border-width: 0;
  border-radius: 2rem;
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: bolder;
}
button:hover{
  transform:scale(1.3,1.3);
  cursor: pointer;
}

h1{
  width: 100%;
  color: whitesmoke;
  font-weight: bolder;
  /*background-color: #ff1745b0;*/
}

h3{
  color: #000444;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 0;
}

p{
  color: #9CA5B2;
}

hr{
  border-width: 0.1rem;
  background-color: #000444;
}

header{
  width: 100%;
  display: flex;
}

nav{
  position: fixed;
  right: 0;
  z-index: 999;
}

ul{
  width: fit-content;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  list-style: none;
  
}

li{
  color: #FF1744;
  font-weight: bolder;
  font-size: 1.2em;
  line-height: 1.8em;
}

li:hover{
  width: 100%;
  color: whitesmoke;
  background-color: #FF1744;
  cursor: pointer;
}

.link-default{
  text-decoration: none;
  color: #000444;
  font-weight: bolder;
}
